.limelight-regular {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.goldman-regular {
  font-family: "Goldman", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.goldman-bold {
  font-family: "Goldman", sans-serif;
  font-weight: 700;
  font-style: normal;
}


.header-bg{
    background-image: url('/Images/Casa\ De\ Amor-04.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.header2-bg{
  background-image: url('/Images/Casa\ De\ Amor-17.jpg'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
}
.header3-bg{
	background-image: url('/Images/Casa\ De\ Amor-47.jpg'); /* Replace with your image path */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 70vh;
  }
.height-10 {
  height: 10vh;
}
.orange {
    color: #FF3B30 !important;
}

.orange-bg {
    background-color: #FF3B30 !important;
}
.border-orange {
	border-color: #FF3B30 !important;
}
.navbar-fixed {
    transition: all 0.3s ease-in-out;
    background-color: black;
}
.nav-item .active {
  color: #FF3B30 !important;
}
.nav-item .active2 {
  color: black !important;
}
.small-img {
	width: 100%;
	object-fit: cover;
	height: 100px;
	border-radius: 4px;
  }
.transition-bg {
	transition: background-color 0.3s ease-in-out;
  }